.place__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
    margin-bottom: 48px;
}

@media screen and (max-width: 856px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 767px) {
    .place__title {
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 495px) {
    .place__title {
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 32px;
        line-height: 1.09;
    }
}