.place__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.05;
    margin: 0;
    margin-bottom: 48px;
}
@media screen and (max-width: 900px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        margin: 0 16px;
        margin-bottom: 32px;
    }
}