.cover__subtitle { 
    font-weight: normal; 
    font-size: 18px; 
    line-height: 1.2; 
    margin: 0; 
    max-width: 360px; 
    margin-top: 32px;
    color: #fff;
    z-index: 1; 
} 
@media screen and (max-width: 510px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        max-width: 288px;
        margin-top: 16px;
    }
}