@import url(./__image/header__image.css);
@import url(./__lang/header__lang.css);
@import url(./__lang-link/__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px*2);
    margin: auto;
    margin-top: 28px;
}
@media screen and (max-width: 1170px) {
    .header {
        min-width: calc(100% - 24px*2);
    }
}
@media screen and (max-width: 767px) {
    .header {
        min-width: calc(100% - 16px*2);
        margin-top: 16px;
    }
}
