@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-info/intro__list-info.css);
@import url(./__span-accent/intro__span-accent.css);

.intro {
    max-width: 690px;
    margin-top: 92px;
    margin-left: 148px;
}
@media screen and (max-width: 1170px) {
    .intro {
        margin-left: 48px;
    }
}
@media screen and (max-width: 900px) {
    .intro {
        margin-left: 24px;
        margin-top: 88px;
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        min-width: 288px;
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
