@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);
.cover { 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    min-height: 740px; 
    margin: auto; 
    margin-top: 92px; 
    max-width: 1184px; 
    align-items: center; 
} 

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}
@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}
@media screen and (max-width: 510px) {
    .cover {
        min-height: 200px;
        margin-top: 64px;
    }
}


