@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);
.cover {  
    margin: 0 auto; 
    margin-top: 92px; 
    max-width: 1184px; 
} 

@media screen and (max-width: 510px) {
    .cover {
        margin-top: 64px;
    }
}


