@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 74vh;
    margin: auto;
    margin-top: 92px;
    max-width: 1184px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity .5s linear;
}
.cover:hover {
    opacity: 0.8;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        min-width: 1024px;
        min-height: calc(74vh - 100px);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .cover {
        min-width: 768px;
        min-height: calc(74vh - 260px);
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
        margin-top: 64px;
        min-width: 320px;
        min-height: 200px;
    }
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        max-width: 288px;
        margin: 0;
        margin-top: 16px;
    }
}