@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__url/place__url.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__website/place__website.css);
@import url(./__content/place__content.css);

.place { 
    display: grid; 
    grid-auto-flow: column; 
    grid-column-gap: 40px; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 460px) minmax(100px, 484px)); 
    grid-template-rows: auto max-content; 
    margin: auto;
}

@media screen and (max-width: 1279px)  {
    .place {
        grid-column-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 440px) minmax(100px, 456px));
    }
}
@media screen and (max-width: 1023px) {
    .place {
        grid-column-gap: 28px;
    }
}
@media screen and (max-width: 856px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(100px, 340px) minmax(100px, 352px));
    }
}
@media screen and (max-width: 767px) {
    .place {
        grid-column-gap: 12px;    
    }
}
@media screen and (max-width: 495px) {
    .place {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}