@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__url/place__url.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__website/place__website.css);
@import url(./__content/place__content.css);

.place {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 40px;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto max-content;
    margin: auto;
}

@media screen and (max-width: 1170px)  {
    .place {
        grid-column-gap: 32px;
        grid-template-columns: 440px 1fr;
    }
}
@media screen and (max-width: 900px) {
    .place {
        grid-column-gap: 28px;
        grid-template-columns: 340px 1fr;
    }
}
@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}