.place__website {
    align-self: end;
    margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
.place__website {
    margin-bottom: 24px;
    }
}
@media screen and (max-width: 495px) {
    .place__website {
        display: none;
    }
}

